<!-- Example code of simple table in list view -->
<div class="panel panel-space panel-default recordlist">
    <div class="panel-heading">
        <span class="c-table"><span class="t3-help-link" href="#" data-table="pages" data-field="" data-loaded="false" data-html="true" data-original-title="Loading help..." data-placement="auto" data-trigger="click"><abbr class="t3-help-teaser">Page</abbr></span></span> (<span class="t3js-table-total-items">3</span>)
    </div>
    <div class="collapse in" data-state="expanded" id="recordlist-pages">
        <div class="table-fit">
            <table data-table="pages" class="table table-striped table-hover">
                <thead>
                <!-- Element, begin: -->
                <tr data-uid="0" data-l10nparent="0">
                    <th nowrap="nowrap" class="col-icon"></th>

                    <th nowrap="nowrap" class="col-title col-responsive">Pagetitle</th>
                    <th nowrap="nowrap" class="">Type</th>
                    <th nowrap="nowrap" class=""><i>[uid]</i></th>
                </tr></thead>
                <!-- Element, begin: -->
                <tbody><tr class=" firstcol" data-uid="2" data-l10nparent="0">
                    <td nowrap="nowrap" class="col-icon"><a href="#" class="t3-js-clickmenutrigger" data-table="pages" data-uid="2" data-listframe="1"><span data-toggle="tooltip" data-title=" id=2" data-html="true" data-placement="right"><span class="t3js-icon icon icon-size-small icon-state-default icon-apps-pagetree-page-default" data-identifier="apps-pagetree-page-default">
	<span class="icon-markup">
<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/apps/apps-pagetree-page-default.svg" width="16" height="16">
	</span>

</span></span></a></td>

                    <td nowrap="nowrap" class="col-title col-responsive"><a href="/typo3/index.php?M=system_ServeServemodule&amp;moduleToken=37eeed3d64dd666be2e7b499f3a25094f4997084&amp;id=2&amp;showLimit=10&amp;sortField=title" onclick="setHighlight(2)">Seite 1</a></td>
                    <td nowrap="nowrap" class="">Standard</td>
                    <td nowrap="nowrap" class="">2</td>
                </tr>
                <!-- Element, begin: -->
                <tr class="" data-uid="3" data-l10nparent="0">
                    <td nowrap="nowrap" class="col-icon"><a href="#" class="t3-js-clickmenutrigger" data-table="pages" data-uid="3" data-listframe="1"><span data-toggle="tooltip" data-title=" id=3" data-html="true" data-placement="right"><span class="t3js-icon icon icon-size-small icon-state-default icon-apps-pagetree-page-default" data-identifier="apps-pagetree-page-default">
	<span class="icon-markup">
<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/apps/apps-pagetree-page-default.svg" width="16" height="16">
	</span>

</span></span></a></td>

                    <td nowrap="nowrap" class="col-title col-responsive"><a href="/typo3/index.php?M=system_ServeServemodule&amp;moduleToken=37eeed3d64dd666be2e7b499f3a25094f4997084&amp;id=3&amp;showLimit=10&amp;sortField=title" onclick="setHighlight(3)">Seite 2</a></td>
                    <td nowrap="nowrap" class="">Standard</td>
                    <td nowrap="nowrap" class="">3</td>
                </tr>
                <!-- Element, begin: -->
                <tr class=" lastcol" data-uid="4" data-l10nparent="0">
                    <td nowrap="nowrap" class="col-icon"><a href="#" class="t3-js-clickmenutrigger" data-table="pages" data-uid="4" data-listframe="1"><span data-toggle="tooltip" data-title=" id=4" data-html="true" data-placement="right"><span class="t3js-icon icon icon-size-small icon-state-default icon-apps-pagetree-page-default" data-identifier="apps-pagetree-page-default">
	<span class="icon-markup">
<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/apps/apps-pagetree-page-default.svg" width="16" height="16">
	</span>

</span></span></a></td>

                    <td nowrap="nowrap" class="col-title col-responsive"><a href="/typo3/index.php?M=system_ServeServemodule&amp;moduleToken=37eeed3d64dd666be2e7b499f3a25094f4997084&amp;id=4&amp;showLimit=10&amp;sortField=title" onclick="setHighlight(4)">Seite 3</a></td>
                    <td nowrap="nowrap" class="">Standard</td>
                    <td nowrap="nowrap" class="">4</td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>
