<f:be.pageRenderer
        includeCssFiles="{0: '{f:uri.resource(path:\'Css/styles.css\')}'}"
        includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/prism.js\')}'}"
/>

<f:be.container>
    <div id="container-content">
        <f:render section="content" />
    </div>
</f:be.container>
