{namespace sg=TYPO3\CMS\Styleguide\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
    <h1>Serve<f:if condition="{pageUid}"> <small>[pid={pageUid}]</small></f:if></h1>
    <p>Lorem ipsum...</p>

    <f:if condition="{pageUid}">
        <f:render partial="Recordlist" />
    </f:if>

</f:section>
