{namespace sg=TYPO3\CMS\Styleguide\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
    <h1>Serve <small>{identifier.table}:{identifier.uid}</small></h1>

    <div class="container" style="margin-bottom: 20px;">
        <f:form controller="Serve" action="saveRecord">
            <f:form.hidden name="table" value="{identifier.table}" />
            <f:form.hidden name="uid" value="{identifier.uid}" />

            <f:form.textfield name="identifier" placeholder="{identifier.table}:{identifier.uid}" />
            <f:form.submit value="Save Record" />
        </f:form>
    </div>

    <!--<f:link.action controller="Serve" action="saveRecord" additionalParams="{identifier:'{identifier.table}:{identifier.uid}'}" class="btn btn-primary">Serve/overwrite record</f:link.action>-->
    <f:link.action controller="Serve" action="saveRecord" additionalParams="{identifier:'{identifier.table}:{identifier.uid}'}" class="btn btn-primary">Import record</f:link.action>

    <div class="container" style="margin-top: 50px;">
            <p>File: <code>{serveRule.processor.file.path}</code></p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Column</th>
                        <th>Database Value</th>
                        <th>Deployed Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <f:if condition="{serveRule.processor.diff.groupedDiff -> f:count()} == 0">
                            <f:then>
                                <td colspan="3"><em>All in sync.</em></td>
                            </f:then>
                            <f:else>
                                <f:for each="{serveRule.processor.diff.groupedDiff}" key="columnName" as="values">
                                    <tr>
                                        <td>{columnName}</td>
                                        <td>{values.db}</td>
                                        <td>{values.file}</td>
                                    </tr>
                                </f:for>
                            </f:else>
                        </f:if>
                    </tr>
                </tbody>

            </table>

    </div>

        {serveRule.processor.file.path}

    <f:debug>{serveRule}</f:debug>
</f:section>
